
.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox input[type="checkbox"] {
  margin-right: 10px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.checkbox label {
  font-size: 16px;
  cursor: pointer;
}